<!DOCTYPE   html>
<html ng-app="myApp">
<head>
    <link href="bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="bootstrap-theme.css"    type="text/css" rel="stylesheet" />
    <style>
        .ng-invalid.ng-dirty{
            border-color:#FA787E;
        }
        .ng-invalid.ng-dirty{
            border-color:#78FA89;
        }
    </style>

</head>
<body ng-controller="myController">
    <div ng-repeat="product in model">
        <h1> {{product.name}} </h1>
        <h2>
            {{product.price | currency }} 
        </h2>
      <div>
        <img ng-repeat="image in product.images" ng-src="{{image.thumb}}" />
       </div>
        <product-title></product-title>
        <h3>{{product-price | currency}}</h3>
        <button ng-show="product.canPurchase" class="btn btn-primary">Add to cart</button>
        <product-panels></product-panels>
        <section ng-init="tab = 1" ng-controller="PanelController as panel">
            <ul class="nav nav-pills">
                <li ng-class="{active:panel.isSelected(1) }"
                    > <a href ng-click="panel.selectTab(1)">Description</a>
                </li>

                <li ng-class="{active:panel.isSelected (2) }">
                 <a href ng-click="panel.selectTab(2)">Specification </a>
                </li>

                <li ng-class="{active:panel.isSelected(3) }">  
                    <a href ng-click="panel.selectTab(3)">Reviews</a>
                </li>             
            </ul>

        <div    class="panel" ng-show="panel.isSelected (1)">
            <h4>Description</h4>
            <blockquote>{{$parent.product.description}}</blockquote>
        </div>

        <div    class="panel" ng-show="panel.isSelected(2)">
            <h4>Specification</h4>
            
        </div>

        <div    class="panel" ng-show="panel.isSelected(3)">
            <h4>Reviews</h4>
            <blockquote ng-repeat="review in product.reviews">
                <b>Stars: {{review.stars}}</b>
                {{review.body}}
                <cite>by:{{review.author}}</cite>
            </blockquote>

            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                                    ng-submit="reiewForm.$valid && rewview.Ctrl.addReview(product)"novalidate>
               
                <blockquote>
                    <b>Stars: {{review.stars}}</b>
                    {{review.body}}
                    <cite>by: {{review.author}}</cite>
                </blockquote>
                <select ng-model="review.stars"required>
                    <option value="1">1 star</option>
                    <option value="2">2 star</option>   
                    <option value="3">3 star</option>
                    <option value="4">4 star</option>
                    <option value="5">5 star</option>
                </select>
                <textarea ng-model="review.body"required></textarea>
                <label>by:</label>
                <input ng-model="review.author" type="email"required />
                <div>reviewForm is {{reviewForm.$valid}}</div>
                <input type="submit"    value="Submit"  />
            </form>
        </div>

        </section>
    </div>
  
    <script src="jquery-3.1.0.js" type="text/javascript"></script>
    <script src="bootstrap.js" type="text/javascript"></script> 
    <script src="angular.js"    type="text/javascript"> </script>
    <script src="file.js"    type="text/javascript"></script>   

</body>
</html>